<li class="nav-item dropdown notification">
    <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
    <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
        <li>
            <div class="notification-title"> Notification</div>
            <div class="notification-list">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="notification-info">
                            @*<div class="notification-list-user-img"><img src="assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>*@
                            <div class="notification-list-user-block">
                                <span class="notification-list-user-name">Jeremy Rakestraw</span>Lodged an Amendment
                                <div class="notification-date">2 min ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="notification-info">
                            @*<div class="notification-list-user-img"><img src="assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>*@
                            <div class="notification-list-user-block">
                                <span class="notification-list-user-name">John Abraham </span>Lodged an Amendment
                                <div class="notification-date">2 days ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="notification-info">
                            @*<div class="notification-list-user-img"><img src="assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>*@
                            <div class="notification-list-user-block">
                                <span class="notification-list-user-name">Monaan Pechi</span> Lodged an Amendment
                                <div class="notification-date">2 min ago</div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="notification-info">
                            @*<div class="notification-list-user-img"><img src="assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>*@
                            <div class="notification-list-user-block">
                                <span class="notification-list-user-name">Jessica Caruso</span>Lodged an Amendment
                                <div class="notification-date">2 min ago</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="list-footer"> <a href="#">View all notifications</a></div>
        </li>
    </ul>
</li>