@model PolicyManagementMailer.Models.ForgotPassword

@{      ViewData["Title"] = "ForgotPassword";
}


<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgotten Password </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a href="#"><img class="logo-img" src="~/assets/images/logo.jpeg" alt="logo"><img class="logo-img" style="width: 130px; height: 70px;" src="~/assets/images/MTGlogo.png" alt="logo"></a><span class="splash-description">Please enter your Email Address.</span></div>
            <div class="card-body">
                @if(Model?.EmailSent==true)
                {
                    <div class="alert alert-success" role="alert">
                        <p> An email has been sent to your email adrress</p>
                    </div>  
                 }
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {
                    <div id="errsssor" style="color: red;">@Html.ValidationMessage("error")</div>
                    <div class="form-group">
                        @*<input class="form-control form-control-lg" id="username" type="text" placeholder="Username" autocomplete="off">*@
                        @Html.TextBoxFor(x => x.Email, new { @Class = "form-control form-control-lg", placeholder = "Email Address", required = "" })
                    </div>


                    <button type="submit" class="btn btn-primary btn-lg btn-block">Send Email</button>
                    <span asp-validation-for="Email" class="text-danger"></span>
                }
            </div>
            <div style="text-align: center;" class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a asp-controller="Account" asp-action="Index" class="footer-link">Login</a>
                </div>
                @*<div class="card-footer-item card-footer-item-bordered">
                        <a href="#" class="footer-link">Forgot Password</a>
                    </div>*@
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>