@model PolicyManagementSystem.Controllers.Models.PolicyApplicationViewModel

<span>
    <input type="hidden" id="PrincipalMemberPremium" value="@Model.PrincipalMemberPremium" />
    <input type="hidden" id="ExtendendMemberPremium" value="@Model.ExtendMemberPremium" />
    Total Premium to pay : @Model.TotalCover
</span>