@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
    --primary1: #1877F2;
    --primary2: #F8E831;
    --secondary1: #0c62d3;
    --secondary2: #e9d70e;
    --text1: #0A1931;
    --text2: #ffffff;

}


::selection {
    color: var(--text2);
    background: var(--primary1);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text1)
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.thankimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thankimg img{
    margin: 36px 12px;
    width: 320px;
}
.thankcontent{
width: 80%;
margin: 0 auto;
text-align: center;
}
.thankcontent h1{
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    margin: 12px 0px;
}
.thankcontent h2{
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
    margin: 18px 0px 0px 0px;
}
.thankcontent p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 36px;
}

.thankcontent a{
    border-radius: 24px;
    padding: 12px 38px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--primary1);
    color: var(--text2);
    margin-top: 258px;
}
.thankcontent a:hover{
    background-color: var(--secondary1);
}
@media (max-width: 947px) {

    .thankimg img{
        margin: 36px auto;
        width: 230px;
    }
    .thankcontent h1{
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        margin: px 0px;
    }
    .thankcontent h2{
        font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
    }
    .thankcontent p{
        font-size: 15px;
    line-height: 19px;
    font-weight: 300;
    margin-bottom: 30px;
    }
}